/* .root {

    
} */

/* general */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    
    width: 90vw;
    height: 100vh;

    font-size: 2em;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-orizontal {

    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.flex-vertical {

    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

/* div {

    border-radius: 1rem;
} */

/* tranzitie pagini */
@keyframes fade-out {
    
    to { opacity: 0; }
}
@keyframes fade-in {
    
    from { opacity: 0; }
}
@keyframes slide-out {
    
    to { transform: translateY(90px); }
}
@keyframes slide-in {
    
    from { transform: translateY(-90px); }
}

.transition {

    view-transition-name: pageChange;
}
::view-transition-old(pageChange) {

    animation: fade-out 300ms ease-in both, slide-out 600ms ease-in both;
}
::view-transition-new(pageChange) {

    animation: fade-in 600ms ease-in-out 600ms both, slide-in 600ms ease-in-out both;
}

/* home page */

.grid {
    
    display: grid;

    width: 80%;
    height: 90%;

    grid-template-areas:
    'topbar     topbar      topbar      topbar  '
    'text       text        ghid        ghid    '
    'text       text        ghid        ghid    '
    'parteneri  parteneri   ghid        ghid    ';

    gap: 20px 20px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 4fr 4fr 1fr;
}

#banner-ghid {

    grid-area: topbar;
    background-color: blue;
}

#text-home-page {
    grid-area: text;
    background-color: green;
}

#ghid {
    grid-area: ghid;
    background-color: yellow;
}

#parteneri {
    grid-area: parteneri;
    background-color: red;
    transition: 1s;
}
#parteneri:hover {

    cursor: pointer;
    scale: 1.1;
}

#coperta-ghid {

    width: 400px;
    height: 500px;
    background-color: purple;

    transition: 1s;
}
#coperta-ghid:hover {

    cursor: pointer;
    scale: 1.1;
}

/* pagina parteneri */

.parteneri {

    width: 80%;
    padding: 20px;

    margin: auto;
}

.card-partener{

    width: 200px;
    height: 400px;
    position: relative;

    border: 1px solid black;
}

.nume-partener {

    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;

    background-color: aqua;
}

.logo-partener {

    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;

    background-color: chocolate;
}